<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <div id="Sidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}

        </div>
        <span style="page-link" onclick="openNav()">&#9776; Menu</span>
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>

      </div>
    </nav>

  </div>

</header>

<script>
  function openNav() {
    document.getElementById("Sidenav").style.width = "280px";
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("Sidenav").style.width = "0";
  }
</script>
