
/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-light;
background-color: #fff;
opacity: 0.75;
position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
float: left;
line-height: $nav-height;
.page-link{
line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
&:not(:first-child) {
margin-left: 5px;
        }
    }
@include media-query($on-palm) {
position: fixed;
top: 0px;
right: 10px;
text-align: left;
&:hover .trigger {
display: block;
padding-bottom: 5px;
        }
.page-link {
display: line;
        }
    }
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 10px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
width:100%;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
}

/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}

/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 10px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}

/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-size: 42px;
letter-spacing: 0px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}

.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}


